
.App{
  background-color:rgb(230, 217, 100) ;
}
nav{
  background: linear-gradient(rgb(187, 188, 193), rgb(107, 107, 108));
  padding: 5%;
}

img{
  width: 50px;
  height: 50px;
  transition-duration: 5s;
}
.logoTitle{
  width: 30px;
  height: 30px;
}
h1{
  width:100%;
  height: 200px;
  background:linear-gradient(rgb(230, 217, 100),rgb(222, 175, 23));
  
}
.GreetingTitle{
  font-size: 25px;
  font-weight:bold;
}
img:hover{
  transform: rotate(360deg);
}

.btnS:hover{
  background-color: rgb(97, 95, 95);
  border: 1px solid white;
}
.btnShop{
  width: 55px;
  height: 40px;
}
